@tailwind base;
@tailwind components;
@layer components {
  .addon-list {
    @apply px-2 pt-5 pb-2 text-orange-600 rounded-lg shadow bg-amber-50;
  }
  .p-btn {
    @apply px-8 py-2 text-lg font-semibold transform bg-blue-400 rounded-lg text-blueGray-50 active:scale-90 hover:shadow-lg;
  }
  .f-col {
    @apply flex flex-col items-center;
  }
  .f-row {
    @apply flex items-center;
  }
  .card-border {
    @apply w-11/12 px-2 py-4 mx-auto text-lg font-semibold text-center border rounded-lg border-blueGray-300 text-blueGray-600;
  }
}
@tailwind utilities;
:root {
  --swiper-pagination-color: lightblue;
  --swiper-navigation-color: white;
  --swiper-navigation-size: 6px;
}
